@import "partials/nav";
@import "partials/footer";
@import "partials/main";
@import "partials/product";
@import "partials/products";
@import "partials/cart";
@import "partials/login";
@import "partials/editProduct";

// UNIVERSAL
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  font-family: "Staatliches", cursive;
}

p,
label {
  font-family: "Roboto Serif", sans-serif;
  font-weight: 300;
}
