.btn-container {
  display: flex;
  justify-content: center;
}

.btn-main,
.btn-secondary {
  padding: 5px;
  font-size: 20px;
  background-color: getColor(primary);
  border-radius: 2px;
  color: getColor(bg-white);
  font-family: $font-primary;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 10px;
}

.btn-secondary {
  background-color: getColor(secondary) !important;
}
