.cart-container {
  max-width: 900px;
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 0px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);

  .cart-card {
    display: flex;
    align-items: center;
    margin: 20px 10px;
    justify-content: space-between;
    border-top: 1px dashed lightgray;
    border-bottom: 1px dashed lightgray;
    padding: 20px 10px 0 10px;

    &__head {
      text-align: center;
    }

    &__title {
      width: 100px;
      word-wrap: break-word;
      a {
        color: getColor(secondary);
      }
    }

    &__img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
    &__remove {
      cursor: pointer;
      font-family: $font-primary;
    }
    &__icon {
      margin-right: 5px;
      color: getColor(primary);
    }
  }
  &__empty {
    font-family: $font-primary;
    text-align: center;
    margin: 10px 0;
  }
}
.cart-back-btn {
  text-align: center;
  margin: 0 auto;
  font-family: $font-primary;

  margin: 100px 0 20px 10px;

  &__link {
    text-decoration: none;
    list-style: none;
    color: white;
    background-color: getColor(secondary);
    padding: 5px 10px;
    letter-spacing: 1px;
    border-radius: 2px;
  }
}

.cart-title-container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;

  .cart-title-h1 {
    margin-left: 10px;
  }
}

.sum-container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  font-size: 25px;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 100px;

  &__total {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    width: 100%;
    font-size: 25px;
  }
}

.cart-widget {
  background-color: getColor(primary);
  display: flex;
  justify-content: center;
  width: 75px;
  height: 75px;
  position: fixed;
  bottom: 110px;
  right: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;

  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;

    i {
      color: getColor(bg-white);
      font-size: 64px;
      margin-top: 5px;
    }
    span {
      position: absolute;
      top: 33px;
      left: 31px;
      font-family: $font-primary;
      font-size: 32px;
      color: getColor(text-black);
    }
  }
}
