.edit-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 10px;

  .edit-content {
    margin-top: 20px;
    margin-bottom: 100px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    align-items: center;

    &__delete {
      margin-bottom: 20px;
      margin-top: 0;
    }
    &__img img {
      width: 275px;
      height: auto;
    }
  }
}

.edit-form {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 10px 20px;
  font-family: $font-secondary;
  div {
    margin-top: 20px;
  }

  &__id {
    display: none;
    visibility: hidden;
  }
  &__update {
    display: flex;
    margin-top: 0 !important;

    #edit-btn {
      margin-top: 0 !important;
    }
  }
  #descInput {
    height: 200px;
    width: 275px;
  }

  &__msg {
    font-size: 20px;
    font-family: $font-secondary;
    margin-bottom: 20px;
    text-align: center;

    &--green {
      color: getColor(secondary);
    }
    &--red {
      color: getColor(primary);
    }
  }
}

.upload-form {
  visibility: hidden;
  display: flex;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  justify-content: space-between;
  background-color: getColor(secondary);
  color: getColor(bg-white);
  align-items: center;
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 62%;
  transform: translate(-50%, -50%);
  padding: 25px;
  width: 300px;
  height: 250px;
  overflow: auto;
  flex-direction: column;
  margin-top: 10px;

  &__exit {
    border: 1px solid getColor(bg-white);
    padding: 5px;
    font-family: $font-secondary;
    border-radius: 2px;
  }

  &__title {
    margin-bottom: 50px;
  }
  #inputFiles {
    margin-bottom: 10px;
  }
}
.show-modal {
  visibility: visible;
}
