.footer {
  background-color: getColor(primary);
  height: 100px;
  display: flex;
  align-items: center;
  margin-top: auto;

  &__content {
    display: flex;
    justify-content: space-between;
    font-family: $font-primary;
    color: getColor(bg-white);
    letter-spacing: 1px;
    font-size: 12px;
    padding: 0px 5px;
    width: 100%;
  }

  &__right {
    width: 100px;
    text-align: end;
  }
}

// Media query for larger screens
@media (min-width: 768px) {
  .footer {
    justify-content: center;

    &__content {
      width: 1400px;
      justify-content: space-between;
      padding: 0 50px;
      font-size: 16px;
      align-items: center;
    }
    &__right {
      width: 150px;
      text-align: end;
    }
  }
}
