//NAVIGATION
.nav-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #985d68;

  .nav-content {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    align-items: center;
    color: #fff;

    &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;

      &--txt {
        font-family: "Staatliches", cursive;
        font-size: 36px;
        margin: 10px 0 10px 5px;
      }
      i {
        font-size: 48px;
      }
    }

    &__main {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .nav-content__list {
      list-style: none;
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding: 0;
      font-family: "Staatliches", cursive;
      font-size: 25px;

      .nav-content__link {
        text-decoration: none;
        color: #fff;

        &--active {
          color: #5d988d;
        }
      }
    }

    &__admin {
      display: flex;
      width: 250px;
      justify-content: center;

      .nav-content__adminlist {
        list-style: none;
        font-family: "Staatliches", cursive;
        font-size: 20px;
        background-color: #5d988d;
        border-radius: 5px;
        padding: 0;
        // margin: 0px 0 50px 0;
        text-align: center;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);

        li {
          padding: 2px 5px;

          a {
            text-decoration: none;
            color: #fff;
          }
          button {
            font-family: "Staatliches", cursive;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

//LARGE SCREENS
@media (min-width: 768px) {
  .nav-container {
    flex-direction: row;
    // width: 100vw;

    .nav-content {
      width: 100%;
      max-width: 1400px;
      flex-direction: row;

      &__main {
        margin: 0 100px;
      }

      &__logo {
        width: 200px;
      }
      &__admin {
        width: 200px;
        justify-content: flex-end;
      }
      &__list {
        width: auto;

        &--admin {
          margin: 0;
        }
      }
    }
  }
}
