.nav-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: getColor(primary);
  font-family: $font-primary;
  letter-spacing: 1px;

  .nav-content {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    align-items: center;
    color: getColor(bg-white);

    &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      text-decoration: none;
      color: getColor(bg-white);

      &--txt {
        font-size: 36px;
        margin: 10px 0 10px 5px;
      }
      img {
        width: 100px;
        height: 90px;
      }
    }

    &__main {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .nav-content__list {
      list-style: none;
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding: 0;
      font-size: 25px;

      .nav-content__link {
        text-decoration: none;
        color: getColor(bg-white);

        &--active {
          color: getColor(bg-white);
          text-decoration: none;
          border-bottom: 3px solid getColor(secondary);
        }
      }
    }

    &__admin {
      display: flex;
      width: 250px;
      justify-content: center;

      .nav-content__adminlist {
        list-style: none;
        font-size: 20px;
        background-color: getColor(secondary);
        border-radius: 5px;
        padding: 0;
        text-align: center;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);

        li {
          padding: 2px 5px;

          span {
            text-decoration: none;
            font-size: 16px;
            letter-spacing: 0.5px;
            color: getColor(text-black) !important;
          }
          button {
            margin-bottom: 5px;
            border-radius: 2px;
            border: none;
          }
          a {
            text-decoration: none;
            color: getColor(text-black) !important;
          }
        }
      }
    }
  }
}

// Media query for larger screens
@media (min-width: 768px) {
  .nav-container {
    flex-direction: row;

    .nav-content {
      width: 100%;
      max-width: 1400px;
      flex-direction: row;

      &__main {
        margin: 0 100px;
      }

      &__logo {
        width: 200px;
      }
      &__admin {
        width: 200px;
        justify-content: flex-end;
      }
      &__list {
        width: auto;

        &--admin {
          margin: 0;
        }
      }
    }
  }
}
