// PRODUCT SPECIFIC PAGE

.specific-product-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 10px;
}

.specific-product {
  margin-top: 20px;
  margin-bottom: 100px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  min-width: 300px;

  &__image {
    overflow: hidden;
    width: 100%;

    .specific-product__img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      transition: transform 0.5s ease;
    }
    .specific-product__img:hover {
      transform: scale(1.1);
    }
  }
  &__content {
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
  }

  &__price {
    font-size: 20px;
  }

  &__desc {
    display: flex;
    flex-wrap: wrap;
    word-break: break-word;
  }

  &__cart {
    &--icon {
      margin-right: 10px;
    }
  }
}
